.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 9999;
}

.sheet {
  width: 100%;
  max-width: 400px;
  height: 704px;
  background-color: var(--color-modal);
  border-radius: 16px 16px 0 0;
  border-top: 1.5px solid var(--color-gray3);
  box-sizing: border-box;
  padding: 14px 32px 0;
  display: flex;
  flex-direction: column;
  touch-action: none;
}

.handle {
  background-color: var(--color-gray3);
  border-radius: 999px;
  margin: 0 auto 12px;
  width: 42px;
  height: 4px;
}

.content {
  flex: 1;
  overflow-y: auto;
}
