.popup_overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.popup_box {
  position: relative;
  width: 100%;
  max-width: 320px;
  background-color: #fefaf5;
  border-radius: 20px;
  padding: 40px 20px 18px;
  margin: 0 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.close_button_wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: none;
  padding: 19px 16px;
  font-size: 24px;
  color: #333;
  z-index: 1;
}

.close_button {
  cursor: pointer;
}

.popup_image {
  margin-bottom: 24px;
}

.popup_title {
  font-family: var(--font-);
  font-size: var(--font-headline);
  font-weight: 700;
  color: var(--color-gray4);
  line-height: 22px;
  letter-spacing: -0.43px;
  margin-bottom: 12px;
  text-align: center;
  white-space: pre-line;
}

.popup_buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 28px;
}

.popup_button {
  width: 48%;
  height: 10%;
  background-color: var(--color-gray4);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 13px;
  font-size: var(--font-button);
  font-weight: 400;
  cursor: pointer;
}
