.DiaryWrite_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DiaryWrite_container {
  display: flex;
  position: relative;
  width: 360px;
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/images/background/normal-bg.svg");
}
