.container {
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--gray2, #cbcbc5);
  background: var(--color1, #fbfbfb);
}

.icon {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
