.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 15px;
  background-color: #5c5c5c;
}

.primary {
  width: 329px;
  height: 58px;
  padding: 17px 133px;
}

.small {
  width: 124px;
  height: 44px;
  padding: 17px 133px;
}

.label {
  color: #fff;
  font-feature-settings: "liga" off, "clig" off;

  font-family: NanumSquareRound;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.43px;
}

.button:disabled {
  display: flex;
  width: 329px;
  height: 58px;
  padding: 17px 133px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 15px;
  background-color: #cbcbc5;
}
