.button {
  /* 버튼 위치 설정 - feat/jsh/2025-07-14 */
  position: absolute; /* position 속성 추가 */
  bottom: 46px; /* 현재 로그인, 초기세팅 화면에서는 둘 다 같은 bottom 값을 가지고 있어서 이렇게 해둘게요 ! */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 15px;
}

.primary {
  width: 329px;
  height: 58px;
  padding: 0;
}

.small {
  width: 124px;
  height: 44px;
  padding: 0;
}

.label {
  color: #fff;
  font-feature-settings: "liga" off, "clig" off;
  font-family: NanumSquareRound;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.43px;
}

.button:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
  background-color: #cbcbc5;
}

.next {
  position: absolute;
  bottom: 6%;
}

.enabled {
  background-color: #5c5c5c;
}

.completeBtn_disabled {
  background-color: #cbcbc5;
}
