.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected {
  color: #2c2c2c !important;
  border-bottom: 1.5px solid #000 !important;
}

.unselected {
  color: #9c9c9c !important;
  border-bottom: none !important;
}

.label {
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  font-family: "NanumSquareRound", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.43px;
}
