.loginPage_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage {
  position: relative;
  width: 360px;
  height: 800px;
  /* width: 100vw;
  height: 100vh;
  max-width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  background-image: url("/images/background/intro-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginPage_wrapper > GoogleLoginButton {
  position: absolute;
  height: 58px;
  box-sizing: border-box;
  padding: 17px;
  text-align: center;
}
/* .googleLogin_btn {
  position: absolute;
  bottom: 46px;
  width: 328px;
  height: 58px;
  box-sizing: border-box;
  padding: 17px;
  text-align: center;

  border-radius: 15px;
  background: #5c5c5c;
} */

/* .googleLogin_btn span {
  color: #fff;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "NanumSquareRound", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  width: 97px;
  height: 22px;
  line-height: 22px; 
  letter-spacing: -0.43px;
} */
