.mypage_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mypage_container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/images/background/normal-bg.svg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.content {
  position: absolute;
  top: 163px;
}

.tab_bar {
  display: flex;

  position: absolute;
  top: 285px;
  left: 50px;
}

.photoGrid {
  position: absolute;
  top: 310px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7.22px;
  padding: 13px;
}
