.wrapper {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  scrollbar-width: thin;
}

/*WebKit 브라우저 전용*/
.wrapper::-webkit-scrollbar {
  height: 6px;
}
.wrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.wrapper::-webkit-scrollbar-track {
  background: transparent;
}
