.diary_container {
  padding: 20px;
  border: 1px solid #2c2c2c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.clicked {
  background-color: #fbd7d5;
}

.emotion {
  font-family: NanumSquareRoundOTF;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.23px;
}

.content {
  font-family: NanumSquareRound;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.43px;
}
