.home_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 800px;
  margin: 0 auto;
  background-image: url("/images/background/normal-bg.svg");
}

.photoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 8px;
  padding: 16px;
}

.modalInner {
  display: flex;
  width: 296px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 0 32px;
  margin: 0 auto;
}

.modalTitle {
  align-self: stretch;
  color: #2c2c2c;
  font-feature-settings: "liga" off, "clig" off;

  font-family: NanumSquareRoundOTF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.43px;
}

.footerWrapper {
  padding: 0 16px;
  margin-top: 48px;
  margin-bottom: 16px;
}

.content {
  position: relative;
  top: 80px;
  width: 360px;
  height: 580px;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0px;
  overflow: hidden;
  padding: 0 80px;
  height: 338px;
}

.slot1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-15deg) translateX(-190px)
    translateY(-50px) scale(0.9);
  transform-origin: bottom center;
  z-index: 1;
}

/* 슬롯2: 중앙(현재) */
.slot2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  z-index: 2;
}

/* 슬롯3: 오른쪽 */
.slot3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(15deg) translateX(190px) translateY(-50px)
    scale(0.9);
  transform-origin: bottom center;
  z-index: 1;
}

/* 빈 슬롯: 프레임 크기만큼 자리만 차지 */
.emptySlot {
  width: 328px; /* PolaroidFrame 너비에 맞춰주세요 */
  height: 360px; /* PolaroidFrame 높이에 맞춰주세요 */
}

.staticInfo {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 160px;
  padding: 0 16px;
}
